bot_token: ""
connection: "updates" # webhook or Updates
hostport: "8.8.8.8:8443"
welcome_message: ""
welcome_button_message: "Я - человек, а не злобный бот"
forbiddenText: 
- "пишите в личку"
- "r:циф[рp][oо]в.+в[аa]лют[.\\\\s]?"
ranks:
  0: "Начинающий турист"
100: "Зародыш туриста"
rankMessage: "{name} получает уровень {newlvl} и звание: {newrank}"
admins:
  - 0
pinnedMessageId: 0
pinnedMessage: ""